
DiscountDelegateDemo/.vs/DiscountDelegateDemo/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
*.cache
*.props
*.targets
DiscountDelegateDemo/DiscountDelegateDemo/obj/Debug/netcoreapp3.0/DiscountDelegateDemo.AssemblyInfo.cs
DiscountDelegateDemo/DiscountDelegateDemo/obj/Debug/netcoreapp3.0/DiscountDelegateDemo.csproj.FileListAbsolute.txt
DiscountDelegateDemo/.vs/DiscountDelegateDemo/DesignTimeBuild/.dtbcache
DiscountDelegateDemo2/.vs/DiscountDelegateDemo2/v16/.suo
DiscountDelegateDemo2/DiscountDelegateDemo2/obj/Debug/netcoreapp3.0/DiscountDelegateDemo2.AssemblyInfo.cs
DiscountDelegateDemo2/DiscountDelegateDemo2/obj/Debug/netcoreapp3.0/DiscountDelegateDemo2.csproj.FileListAbsolute.txt
DiscountDelegateDemo2/.vs/DiscountDelegateDemo2/DesignTimeBuild/.dtbcache
DemoBankEvent/.vs/DemoBankEvent/v16/.suo
DemoBankEvent/DemoBankEvent/obj/Debug/netcoreapp3.0/DemoBankEvent.AssemblyInfo.cs
DemoBankEvent/DemoBankEvent/obj/Debug/netcoreapp3.0/DemoBankEvent.csproj.FileListAbsolute.txt
